.info-container {
    width: 300px;
    margin: 0 20px;
    border-radius: 30px;
    background-color: #ddd;
    text-align: center;
}

h3 {
    padding-top: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 200px;
}

tr {
    border-bottom: 2px #bbb solid;
}

th, td {
    height: 30px;
}

th {
    width: 80px;
    text-align: left;
}

td {
    text-align: right;
}